img.type {
    width: 85px;
    height: 19px;
}

img.category {
    width: 43px;
    height: 22px;
}

.bg-male {
    background-color: rgb(19, 116, 226) !important;
}

.bg-female {
    background-color: rgb(236, 152, 152);
}

.bg-pokemon-red {
    background-color: #cc0000;
    color: white !important;
}
