img.type {
    width: 85px;
    height: 19px;
}

img.category {
    width: 43px;
    height: 22px;
}

.bg-male {
    background-color: rgb(19, 116, 226) !important;
}

.bg-female {
    background-color: rgb(236, 152, 152);
}

.bg-pokemon-red {
    background-color: #cc0000;
    color: white !important;
}

.damage-Immune {
    background-color: #AAAAAA;
}

.damage-Quarter {
    background-color: #2cba00;
}

.damage-Half {
    background-color: #a3ff00;
}

.damage-Simple {
    background-color: #fff400;
}

.damage-Double {
    background-color: #ffa700;
}

.damage-Quadruple {
    background-color: #ff0000;
}